
@{
    ViewBag.Title = "Job";
}
<div class="row">
    <div class="col-xs-4 col-sm-4">
        <a href="@Url.Action("New")" class="btn btn-primary btn-lg"<i class="fa fa-smile-o"></i> >馬上來貼一張好工作吧</a>
    </div>
    <div class="col-xs-6 col-sm-6">
        <div align="right"> <div class="input-group"> <input class="form-control" placeholder="Search for..."> <span class="input-group-btn"> <button class="btn btn-default" type="button">Go!</button> </span> </div> </div>
    </div>
    <div class="col-xs-2 col-sm-2">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
            張貼一份 66K+ 工作
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">真它<i class="fa fa-signal fa-4" aria-hidden="true"></i>難調的</h4>
                    </div>
                    <div class="modal-body">
                        <h1><i class="fa fa-battery-quarter fa-4" aria-hidden="true"></i></h1> 我快要沒有電了....
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">出將</button>
                        <button type="button" class="btn btn-primary">入相</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a></li>
        <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Profile</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" role="tabpanel" id="home" aria-labelledby="home-tab">
            <div class="tab-pane active" id="category-1">
                <h2 class="ggtest" align="center">
                    壓力山大
                </h2>

                <h3 align="center">
                    <a class="ggtest" href="">力拔山兮氣蓋世</a>
                    <a href="https://goo.gl/vq5Mb"><img alt="Rss feed" src="http://img.ltn.com.tw/Upload/3c/page/2015/05/30/150530-18375-1.jpg" width="180"></a>
                    <a href="https://goo.gl/vq5Mb"><img alt="Rss feed" src="https://metrouk2.files.wordpress.com/2014/06/typing.gif?w=620&h=372&crop=1" width="180"></a>
                    <a href="https://goo.gl/vq5Mb"><img alt="Rss feed" src="https://img.epochtimes.com.tw/upload/images/2015/01/08/119938_medium.jpg" width="180"></a>
                    <a class="ggtest" href="">時不利兮騅不逝</a>
                </h3>



                <table class="table table-borderd">


                    <tbody>
                        <tr>

                            <td width="80%">


                                代遊戲軟體代理商 -
                                <a href="http://www.66kjobs.tw/jobs/1746">[台北中山]遊戲軟體代理商 徵 PM專案管理師, 60k~100k</a>

                            </td>
                            <td width="5%">
                                <span class="label label-default label-success">新台幣 $100,000 元</span>
                            </td>
                            <td> 20 Apr </td>
                        </tr>
                        <tr>

                            <td width="80%">


                                代遊戲軟體代理商 -
                                <a href="http://www.66kjobs.tw/jobs/1745">[台北中山] 遊戲軟體代理商 徵 .NET開發工程師, NT$60k~100k</a>

                            </td>
                            <td width="5%">
                                <span class="label label-default label-success">新台幣 $100,000 元</span>
                            </td>
                            <td> 20 Apr </td>
                        </tr>
                        <tr>

                            <td width="80%">


                                代遊戲軟體代理商 -
                                <a href="http://www.66kjobs.tw/jobs/1744">[台北中山] 遊戲軟體代理商 徵 Android開發工程師, NT$60k~100k</a>

                            </td>
                            <td width="5%">
                                <span class="label label-default label-danger">新台幣 $100,000 元</span>
                            </td>
                            <td> 20 Apr </td>
                        </tr>
                        <tr>

                            <td width="80%">


                                代遊戲軟體代理商 -
                                <a href="http://www.66kjobs.tw/jobs/1743">[台北中山] 遊戲軟體代理商 徵 iOS開發工程師, NT$60k~100k</a>

                            </td>
                            <td width="5%">
                                <span class="label label-default label-danger">新台幣 $100,000 元</span>
                            </td>
                            <td> 20 Apr </td>
                        </tr>
                        <tr>

                            <td width="80%">


                                MyCoach -
                                <a href="http://www.66kjobs.tw/jobs/1742">新創公司誠徵Android,IOS軟體開發工程師</a>
                                [最低薪 &lt; 35000 請自行斟酌是否應徵此公司]
                            </td>
                            <td width="5%">
                                <span class="label label-default label-danger">新台幣 $70,000 元</span>
                            </td>
                            <td> 19 Apr </td>
                        </tr>
                        <tr>

                            <td width="80%">


                                R&amp;W -
                                <a href="http://www.66kjobs.tw/jobs/1735">App Leader (Senior PM)</a>

                            </td>
                            <td width="5%">
                                <span class="label label-default label-success">新台幣 $150,000 元</span>
                            </td>
                            <td> 10 Apr </td>
                        </tr>
                        <tr>

                            <td width="80%">


                                鴻華國際科技股份有限公司 -
                                <a href="http://www.66kjobs.tw/jobs/1733">iOS Senior Software Engineer</a>

                            </td>
                            <td width="5%">
                                <span class="label label-default label-danger">新台幣 $80,000 元</span>
                            </td>
                            <td>  4 Apr </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
            <p>
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore
                velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
                Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
                magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
                vero sint qui sapiente accusamus tattooed echo park.
            </p>
        </div>

    </div>
</div>
        </div>
@*@RenderSection("scripts", required: false)*@
<link href="~/IMG/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")




